<h3 class="mt-5 mb-3 text-center fw-bold">{{ isEditMode ? 'Details of diary' : 'Add new diary' }}</h3>
<form [formGroup]="diaryForm" (ngSubmit)="onSubmit()">

    <!-- Title -->
    <div class="d-flex justify-content-center mb-3">
        <mat-form-field class="w-50" appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput formControlName="diaryTitle" placeholder="Enter diary title">
            <mat-error *ngIf="diaryForm.get('diaryTitle')?.hasError('required')">
                * Please enter a title
            </mat-error>
        </mat-form-field>
    </div>
    
    <!-- Story -->
    <div class="d-flex justify-content-center mb-3">
        <mat-form-field class="w-50" appearance="outline">
            <mat-label>Story</mat-label>
            <textarea matInput formControlName="diaryStory" rows="5" placeholder="Write your diary..."></textarea>
            <mat-error *ngIf="diaryForm.get('diaryStory')?.hasError('required')">
                * Please enter a story
            </mat-error>
        </mat-form-field>
    </div>
    
    <!-- Created Time -->
    <div class="d-flex justify-content-center mb-3">
        <mat-form-field class="w-50" appearance="outline">
            <mat-label>Created Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="createdTime">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="diaryForm.get('createdTime')?.hasError('required')">
                * Please choose a date
            </mat-error>
        </mat-form-field>
    </div>

    <div class="d-flex justify-content-center mt-3">
        <button class="btn btn-primary w-50" type="submit">{{ isEditMode ? 'Update' :
            'Submit'
            }}</button>
    </div>
</form>